# Security Configuration
JWT_SECRET=your_secret_here
# Database Configuration
# MONGO_URI="mongodb+srv://landlord:landlord@cluster0.e089lvd.mongodb.net/l2landlords?retryWrites=true&w=majority" 
MONGO_URI="mongodb+srv://davecodes:davecodes@cluster0.f0qd9ho.mongodb.net/l2landlords?retryWrites=true&w=majority"
# Server Configuration
PORT=4100
# Email Service Configuration (SendPulse)
SENDER_EMAIL=support@protix.africa
SENDER_NAME="Protix Africa"
SENDPULSE_SECRET=f13a233bc706c5c9c7e53dbc83234399
SENDPULSE_USER_ID=592d3d7dc1626a9715c3943c61e5dd96
#Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dwcygyvtn
CLOUDINARY_API_KEY=943391469396877
CLOUDINARY_API_SECRET=cj0C3QuLB2qKMgAJeQFetkymdSE
CLOUDINARY_FOLDER=media