# Security Configuration
JWT_SECRET=your_secret_here
# Database Configuration
MONGO_URI="mongodb+srv://<username>:<password>@<cluster-host>/l2landlords?retryWrites=true&w=majority"
# Server Configuration
PORT=4100
# Email Service Configuration (SendPulse)
SENDER_EMAIL=support@example.com
SENDER_NAME="Your Company Name"
SENDPULSE_SECRET=your_sendpulse_secret_here
SENDPULSE_USER_ID=your_sendpulse_user_id_here
#Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_FOLDER=media
# EPC (UK Government Energy Performance Certificate API)
EPC_API_KEY=your_epc_api_key_here
# Mailchimp Configuration
MAILCHIMP_API_KEY=your_mailchimp_api_key_here
MAILCHIMP_AUDIENCE_ID=your_mailchimp_audience_id_here
# Cloudinary mock mode for local/dev/test (true/false)
USE_MOCK=false